@page "/products"
@using BlazorApp.Models
@using BlazorApp.Services
@rendermode InteractiveServer
@inject IProductsService _productsService

<h3>Products</h3>
<hr />

@if (_products == null)
{
    <h3>Please wait a bit, products are loading...</h3>
}
else
{
    <div>
        @foreach (var product in _products)
        {
            <ProductItem Product="product"></ProductItem>
        }
    </div>
}

<div>
    <label>Name</label>
    <input @bind="_name"/>

    <label>Description</label>
    <input @bind="_description" />

    <label>Price</label>
    <input @bind="_price" />

    <button 
        @onclick="SubmitProduct" 
        class="btn-primary">Add Product
    </button>
</div>

@code {
    private List<Product> _products;

    private string? _name;
    private string? _description;
    private decimal _price;

    protected override Task OnInitializedAsync()
    {
        _products = _productsService.GetProducts();
        return base.OnInitializedAsync();
    }

    private void SubmitProduct()
    {
        // if (_name == "") { }
        _productsService.AddProduct(
            new Product
        {
            Name = _name ?? string.Empty,
            Description = _description ?? string.Empty,
            Price = _price
        });

        _name = string.Empty;
        _description = string.Empty;
        _price = 0;
        _products = _productsService.GetProducts();
    }
}
